header {

    border-bottom: 1px solid #000000;
    display: flex;
    /* Usa flexbox para el contenedor del header */
    justify-content: center;
    /* Centra los elementos hijos horizontalmente */
    align-items: center;
    height: 60px;
}

.cont {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

nav {
    max-width: 1280px;
    width: 100%;
}

.navbar {
    margin: 0px;
    padding: 0;
    list-style-type: none;
    display: flex;
    /* Flexbox para la lista */
    justify-content: space-between;
    /* Espacio distribuido entre los elementos de la lista */
    align-items: center;
    /* Alineación vertical de los elementos de la lista */
    width: 100%;
    /* Asegura que la navbar utilice todo el ancho disponible */
}

.navbar a,
.navbar a.logo {
    text-decoration: none;
    color: #000000;
    padding: 20px 15px;
    display: flex;
    /* Flexbox para los enlaces */
    align-items: center;
    /* Alineación vertical de los enlaces */
}

.navbar li:first-child {
    margin-right: auto;
    /* Esto empujará el primer elemento hacia la izquierda */
}


.logo {
    background-image: url('../../img/Logo_bajo_Marron.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    width: 100px;
    /* Ajusta según sea necesario */
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13598b;
    color: #fff;
    height: 44px;
    border-radius: 15px;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-button:hover {
    background-color: #fff;
    color: #000000;
    border: solid #000000 1px;
}

li .hvr:hover {
    background-color: #fff;
    color: #000000;
    text-decoration: underline;
}

.ircb {
    margin: 0;
    display: flex;
    justify-content: end;
    list-style-type: none;

}

.ircb li {
    padding: 10px 0px 10px 30px;
    font: 16px;
    font-weight: bold;
}

.ircb li a {
    text-decoration: none;
    color: #000000;

}

/* pantalla normal */

@media (min-width: 720px) {
    .navbar .hvr2 {
        display: none;
    }

    .mm2 .rri {
        display: none;
    }

    .mobile-only{
        display: none;
    }
}


@media (max-width: 720px) {

    .navbar .hvr,
    .contact-button {
        display: none;
    }


    .i-c {
        display: none;
    }
    .navbar .hvr2 {
        display: block;
    }

    .ircb li a {
        text-transform: uppercase;
        text-decoration: underline;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }

    .ircb :last-child {
        padding-right: 16px;
    }

    nav {
        width: 100%;
        /* Establece el ancho al 100% para usar todo el espacio disponible */
        display: flex;
        /* Aplica flexbox al nav también */
    }

    .logo {
        width: 80px; /* Reduce el tamaño del logo */
        margin-bottom: 10px; /* Espacio después del logo */
    }
    header {
        flex-direction: column; /* Cambia la dirección de los flex items si es necesario */
        padding: 10px; /* Ajusta el padding para ahorrar espacio */
    }

    li .in_se {
        text-decoration: underline;
    }

    .pol-te .footer-link {
        font-size: 12px;
        text-decoration: none;
        width: 100%;
    }

    .pol-log a {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }


}